# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/
build/

# uploads/PII/sensitive
public/uploads/

# testing
src/test/
 coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# build tools
.DS_Store
*.pem
.env*
.env*.local
!*.template

# git and docs
.git
.gitignore
*.md

# docker
docker-compose*.yml
Dockerfile
.dockerignore
nginx/
